.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1208px;
}

.u-section-1 .u-text-1 {
  margin: 37px auto 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  margin: 23px auto 0;
}

.u-section-1 .u-list-1 {
  height: auto;
  margin: 55px auto 0 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 559px;
  grid-gap: 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 240px;
  height: 240px;
  background-image: url("images/mepicture.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  text-transform: none;
  margin: 20px auto 0;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  margin: 12px 1px 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 240px;
  height: 240px;
  background-image: url("images/seankimimage2.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  text-transform: none;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  margin: 12px 1px 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  width: 240px;
  height: 240px;
  background-image: url("images/adityapic.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  text-transform: none;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-1 .u-text-8 {
  font-style: italic;
  margin: 12px 1px 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  width: 240px;
  height: 240px;
  background-image: url("images/srivanthpicture.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  text-transform: none;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-1 .u-text-10 {
  font-style: italic;
  margin: 12px 1px 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-image-5 {
  width: 240px;
  height: 240px;
  background-image: url("images/franciscoimage.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-11 {
  text-transform: none;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-1 .u-text-12 {
  font-style: italic;
  margin: 12px 1px 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-image-6 {
  width: 240px;
  height: 240px;
  background-image: url("images/nahompicture.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-13 {
  text-transform: none;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-1 .u-text-14 {
  font-style: italic;
  margin: 12px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-image-1 {
  width: 255px;
  height: 255px;
  background-image: url("images/headshot.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  margin: 19px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 54px auto 60px;
}